* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
  font-size: 10px;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__dropdown {
  background-color: white;
}

.app__left {
  flex: 0.9;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__header {
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__graph {
  margin-top: 20px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
